#root{
    width: 100vw;
    height: 100vh;
    background-color: #eadeda;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.title-desc {
    width: 80%;
    height: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 10%;
}

.title {
    font-size: 50px;
    color: #ba5c12;
}

.desc {
    font-size: 30px;
    color: #ba5c12;
}

.calculator{
    width: 100%;
    height: 70%;

    background-color: red;

    background-color: #e7cec6;
    border-radius: 20px;
}


