body {
    background-color: #f0f7f4;
    width: 100%;
    height: 100%;

    font-family: comic sans ms;
}

.top {
    width: 100%;
    height: 20%;
}

.title-desc {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10%;
}

.title {
    font-size: 50px;
    color: #ba5c12;
}

.desc {
    font-size: 30px;
    color: #ba5c12;
}