:root {
  width: 100%;
  height: 100%;

  font-family: comic sans ms;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

body {
  background-color: #f0f7f4;
  width: 100%;
  height: 100%;

  margin: 0%;
}
